<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transmit.authenticationcontroldemo">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
    uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.transmit.authenticationcontroldemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.transmit.authenticationcontroldemo.permission.C2D_MESSAGE" />

    <application
        android:name=".AuthControlApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_ts_company_icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.transmit.sdk.GcmSenderId"
            android:value="@string/gcm_sender_id" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tsauthdemo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MainActivity" />
        </activity>
        <activity
            android:name=".BalanceActivity"
            android:label="Balance"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MenuActivity" />
        </activity>
        <activity
            android:name=".TransferActivity"
            android:label="Transfer"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MenuActivity" />
        </activity>
        <activity
            android:name=".ApprovalsActivity"
            android:label="Approvals"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigurationActivity"
            android:label="Configuration"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MenuActivity" />
        </activity>
        <activity
            android:name=".UserManagementActivity"
            android:label="User Management"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MenuActivity" />
        </activity>
        <activity
            android:name=".DevOptionsActivity"
            android:label="Dev Options"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MainActivity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="Menu"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MainActivity" />
        </activity>

        <activity
            android:name=".QuickViewActivity"
            android:label="Quick View"
            android:parentActivityName=".QuickViewActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MainActivity" />
        </activity>

        <!-- Let SDK manage push notification registration and receipt -->
        <!-- <receiver -->
        <!-- android:name="com.ts.sdk.internal.gcm.GcmBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->


        <!-- <category android:name="com.example.gcm" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <service android:name="com.ts.sdk.internal.gcm.GcmIntentService" /> -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.DemoGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.DemoRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".DevicesActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.transmit.authenticationcontroldemo.MenuActivity" />
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling" />
        <activity
            android:name=".ZellActivity"
            android:label="@string/title_activity_zell"></activity>
    </application>

</manifest>